<form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm.value)">
  <div>
    <label for="name">Customer Name</label>
    <input type="text" formControlName="name" id="name"/>
    <em *ngIf="validateControl('name') && hasError('name', 'required')">Name is required</em>
    <em *ngIf="validateControl('name') && hasError('name', 'minlength')">Name must be minimum 5 characters long. </em>
  </div>
  <div>
    <label for="customerType">Customer Type</label>
    <select
      id="customerType"
      (change)="changeType($event)"
      formControlName="customerType"
    >
      <option *ngFor="let type of customerTypes" [value]="type.id">
        {{ type.name }}
      </option>
    </select>
    <em *ngIf="validateControl('customerType') && hasError('customerType', 'required')">Type is required</em>
  </div>
  <button type="submit" class="btn btn-info" [disabled]="!customerForm.valid">Save</button>
</form>


<h2>Customers list</h2>
<table spacing="0">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{customer.name}}</td>
    <td>{{customer.customerTypeId | customertype}}</td>
    <td>
      <a [routerLink]="['/customer', customer.id]">Open</a>
    </td>
  </tr>
  </tbody>
</table>
