<h2>New job form</h2>

<form [formGroup]="jobFormGroup" (ngSubmit)="onSubmit(jobFormGroup.value)">
  <div>
    <label for="engineer">Engineer</label>
    <select
      id="engineer"
      (change)="changeEngineer($event)"
      formControlName="engineer"
    >
      <option value="" selected>Select engineer</option>
      <option *ngFor="let engineer of engineers">
        {{ engineer }}
      </option>
    </select>
    <small *ngIf="validateControl('engineer') && hasError('engineer', 'required')">Please select an engineer.</small>
  </div>
  <div>
    <label for="customer">Customer</label>
    <select
      id="customer"
      (change)="changeCustomer($event)"
      formControlName="customer"
    >
      <option value="" selected>Select customer</option>
      <option *ngFor="let customer of customers" [value]="customer.id">
        {{ customer.name }}
      </option>
    </select>
    <small *ngIf="validateControl('customer') && hasError('customer', 'required')">Please select an customer.</small>
  </div>
  <div>
    <label for="when">When</label>
    <input id="when" type="date" formControlName="dateWhen" value="" [min]="todayDate">
    <small *ngIf="validateControl('dateWhen') && hasError('dateWhen', 'required')">Please select a date.</small>
  </div>
  <button type="submit" class="btn btn-info" [disabled]="!jobFormGroup.valid">Save</button>
</form>

<h2>Jobs list</h2>
<table spacing="0">
  <thead>
    <tr>
      <th>Engineer</th>
      <th>When</th>
      <th>Customer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobs">
      <td>{{job.engineer}}</td>
      <td>{{job.when | date:'shortDate'}}</td>
      <td>{{job.customer?.name || 'Unknown'}}</td>
      <td>
        <a [routerLink]="['/job', job.jobId]">Open</a>
      </td>
    </tr>
  </tbody>
</table>
